{# templates/base.html #}
{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ title }}{% endblock title %}</title>
<!--  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">-->
<!--  <link rel="stylesheet" type="text/css" href="style.css">-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
        <nav>
			<a href="#" class="logo">Ericsson Hardware Management</a>
			<div class="menu-toggle"></div>
			<ul>
				<li><a href="#">All ENM</a></li>
				<li><a href="#">D&S </a></li>
				<li><a href="#">A&O</a></li>
				<li><a href="#">NS</a></li>
				<li><a href="#">CNRA</a></li>
				<li><a href="#">Transport</a></li>
				<li><a href="#">Release</a></li>
				<li><a href="#">PLM</a></li>
				<li class="dropdown">
                  <a href="#">Other</a>
				  <div class="dropdown-content">
					<a href="#">ENIQ</a>
					<a href="#">EIAP</a>
					<a href="#">EO</a>
              	</div>
				</li>

				<li><div class="float_right"> {{ macros.light_or_dark_mode("body") }} </div></li>
			</ul>
                  {% include "_navigation.html" %}
		</nav>
  </header>
  <main>
		<aside class="sidebar">
			<h3>Hardware</h3>
			<ul>
				<li><a href="#">Firmware</a></li>
				<li><a href="#">Bios</a></li>
				<li><a href="#">H/W Security</a></li>
				<li><a href="#">H/W Health</a></li>
			</ul>
			<h3>ENM</h3>
			<ul>
				<li><a href="#">ENM Versions</a></li>
				<li><a href="#">Java Versions</a></li>
				<li><a href="#">RHEL Versions</a></li>
				<li><a href="#">Deployment Layout</a></li>
				<li><a href="#">ENM Healthcheck</a></li>
				<li><a href="#">Snapshots</a></li>
				<li><a href="#">VA NMAP</a></li>
				<li><a href="#">VA OSCAP</a></li>

			</ul>
			<h3>Links</h3>
			<ul>
				<li><a href="#">Tech Specs</a></li>
				<li><a href="#">Eris</a></li>
				<li><a href="#">Hydra</a></li>
			</ul>
		</aside>
  	<div id="content">  {% block content %}
      <h1>Welcome to {{ title }}!</h1>
        {% endblock content %}
    </div>
  </main>
  <footer>
    {{ macros.light_or_dark_mode("body") }}
  </footer>
</body>
</html>